
@model IEnumerable<WebApplication1.DataAccess.VistaRevisionRequerimiento>


@{
    ViewBag.Title = "Index1";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Consulta Revision Requerimiento</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Revision Requerimiento</h3>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                <span>Copy</span>
                            </button>
                            <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                <span>CSV</span>
                            </button> <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                <span>Excel</span>
                            </button> <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                <span>PDF</span>
                            </button> <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button">
                                <span>Print</span>
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Column visibility</span>
                                    <span class="dt-down-arrow"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="myTable" class="dataTables_wrapper dt-bootstrap5">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Estado</th>
                                                <th>fecha Ingreso</th>
                                                <th>Solicitante</th>
                                                <th>Aplicacion</th>
                                                <th>Hardware</th>
                                                <th>Prioridad</th>
                                                <th>Proyecto</th>
                                                <th>Tipo Requerimiento</th>
                                                <th>Requerimiento</th>
                                                <th>Opcion</th>
                                                <th>Comentario</th>
                                                <th>fecha Plazo</th>
                                                <th>Comentario Revision</th>
                                                <th>Duracion</th>
                                                <th>Fecha Revision</th>
                                                <th>Usuario Revision</th>
                                                <th> </th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="/Scripts/RevisionRequerimiento.js"></script>