@*@model WebApplication1.Models.LoginViewModel



    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            @if (Model != null)
            {
                <a href="#" class="d-block">@Model.CDsNombre</a>
                <a href="#" class="d-block">@Model.CDsApellido</a>
            }
            else
            {
                <span class="d-block">Usuario no identificado</span>
            }
        </div>
    </div>*@


    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Requerimiento
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Requerimiento/IngresoRequerimiento" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ingreso Requerimiento</p>
                    </a>
                <li class="nav-item">
                    <a href="/Requerimiento/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>  Detalles de Requerimientos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Revision/RevisionRequerimiento" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Revision Requerimiento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Revision/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Detalles de Revision Requerimiento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Asignado/RequerimientoAsignado" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Asignacion Requerimiento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/RequerimientoAsignadoes/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Detalles de Asignaciom Requerimiento</p>
                    </a>
                </li>
            </ul>
        </li>
        @*Mantenimientos*@
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    Matenimientos
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Hardwares/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Mantenimiento Hardware</p>
                    </a>
                <li class="nav-item">
                    <a href="/Aplicacions/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Mantenimiento Software</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Solicitantes/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Mantenimiento Solicitante</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Ejecutors/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Mantenimiento Ejecutores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/UsuarioRevisions/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Mantenimiento Usuarios de Revision</p>
                    </a>
                </li>
            </ul>
        </li>
        @*Kanban*@
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                    Kanban
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Kanban/Kanban" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kanban</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>



