<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
    <!-- Sidebar user panel (optional) -->
    @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>*@
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Requerimiento
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Requerimiento/IngresoRequerimiento" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ingreso Requerimiento</p>
                </a>
            <li class="nav-item">
                <a href="/Requerimiento/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>  Consulta de Requerimientos</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Requerimiento/RevisionRequerimiento" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Revision Requerimiento</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./index3.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Asignacion Requerimiento</p>
                </a>
            </li>
        </ul>
    </li>
    @*Mantenimientos*@
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Matenimientos
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Hardwares/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Mantenimiento Hardware</p>
                </a>
            <li class="nav-item">
                <a href="/Aplicacions/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Mantenimiento Software</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Solicitantes/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Mantenimiento Solicitante</p>
                </a>
            </li>
            <@*li class="nav-item">
                <a href="~/Views/" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Mantenimiento Proyecto</p>
                </a>
            </li>*@
        </ul>
    </li>
</ul>
